div#mainNavigationHeader {
    color: #020170;
    position:absolute;
    top:0px;
    width:95%;
    left: 2.5%;
    float:left;
    border-bottom: 3px double #FF9F00;
    height: 100px;
}

table.contacts{
    font-size: 12px;
}

table.contacts tr {
    margin: 15px;
}


div#mainNavigationMenu {
    position: relative;
    top: 50px;
}

table.menuItem {
    font-size: 12px;
    margin: 2px;
    height: 50px;
    text-align: center;
    border-spacing: 0px;
}

td.buttonBorder {
    padding: 0px;
    margin: 0px;
    width: 5px;

}

td.tdLeft {
    background: #90F1F1 url('images/tdLeft.png');
}

td.tdCenter {
    width: 90px;
    background: #90F1F1 url('images/tdCenter.png');
}

td.tdRight {
    background: #90F1F1 url('images/tdRight.png');
}


div#mainNavigationMenu a {
    display: block;
    margin: 5px;
    text-decoration: none;
    color: #2040AF;
}

div#mainNavigationMenu a:hover {
    color: #D0D0A0;
}

div#mainNavigationLogo {
    float: left;
    bottom: 0px;
    left: 230px;
    width: 200px;
    height: 100px;
    border: none;
    background-image: url('images/sunrise.png');
}

div#mainNavigationMenu ul li {
    margin: 6px;
    list-style: none;
}

div#mainNavigationMenu li {
    left: 0px;
    display: block;
    margin-left: -15px;
    cursor: pointer;
    padding: 4px;
    border: 1px outset gray;
    text-align: center;
    background-color: #E0E0E0;
}

div#mainNavigationMenu li:hover {
    /*background-color: #EFEFEF;*/
    border-style: inset;
    background-color: #D0D0D0;
}
 
div#mainNavigationContacts {
    display: none;
    position:absolute;
    top: 310px;
    left: 30px;
}

div#mainNavigationFooter {
    font-size: 10px;
    position: absolute;
    bottom: 5px;

}

div#mainNavigationMotto {
    font-size: 16px;
    left: 25%;
    color: #AF7F00;
    position: relative;
    top: 100px;

}
