div#mainNavigationHeader {
    color: #020170;
    position:absolute;
    top:0px;
    width:90%;
    float:left;
    border: 1px solid black;
    border-bottom: 3px double #FF9F00;
}

table.contacts{
    font-size: 12px;
}

table.contacts tr {
    margin: 15px;
}

div#mainNavigationMenu {
    border: 1px solid black;
    position: absolute;
    right: 10px;
    bottom: 0px;
}

div.menuItem {
    margin: 5px;
    float: left;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    height: 100%;
}

div#mainNavigationMenu a {
    display: block;
    text-decoration: none;
    color: #2040AF;
}

div#mainNavigationLogo {
    position: absolute;
    float: left;
    bottom: 0px;
    left: 230px;
    width: 200px;
    height: 80px;
    border: 1px solid black;
}

div#mainNavigationMenu ul li {
    margin: 6px;
    list-style: none;
}

div#mainNavigationMenu li {
    left: 0px;
    display: block;
    margin-left: -15px;
    cursor: pointer;
    padding: 4px;
    border: 1px outset gray;
    text-align: center;
    background-color: #E0E0E0;
}

div#mainNavigationMenu li:hover {
    /*background-color: #EFEFEF;*/
    border-style: inset;
    background-color: #D0D0D0;
}
 
div#mainNavigationContacts {
    position:absolute;
    top: 100px;
    left: 30px;
}

div#mainNavigationFooter {
    font-size: 10px;
    position: absolute;
    bottom: 5px;

}
