body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    color: #333393;
    background: url('images/background2.jpg');
}

p {
    width: 90%;
    text-indent: 1cm;
}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #FF9F00;
    color: #F0F0A0;
    font-size: 50px;
    font-weight: bold;
    left: 20px;
    margin-bottom: 0px;
    float: left;
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}


.term {
    font-style: italic;
    font-weight: bold;
}

table.comparison {
    border-width: 1px;
    border-style: inset;
    border-color: #CCCCEF;
    width: 90%;
    border-collapse: collapse;
}

table.comparison td {
    padding: 5px;
    border-width: 0px;
    border-color: #4400CC;
    border-style: solid;
}

table.comparison tr.acryl {
    font-style: italic;
}


/**************** Pseudo classes ****************/


a:link {
    color: #0033DD;
    text-decoration: underline;
    font-weight: bold;
    display: inline;
}

a:visited {
    text-decoration: underline;
    font-weight: bold;
    color: #0088FF;
}


a:hover {
    color: #3333FF;
    font-weight: bold;
    text-decoration: underline;
}

a:active {
    color: #33BBFF;
    font-weight: bold;
}

/************************* ID's *************************/


#centerDoc {
    position: absolute;
    top: 180px;
    padding: 10px;
    left: 5%;
    padding-bottom:2cm;
    width: 90%;
    background-color: #E5E5D0;
    background: #FFFC66;
    background: #FDFAD0;
    color: #58371C;
    opacity: 0.8;
}

#reference {
    position: absolute;
    width: 80%;
    bottom: -15px;
    margin-top: 2cm;
    padding-top: 15px;
    font-style: italic;
    border-top: 1px solid black;
}

#reference ul li {
    list-style: none;
}


