body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    color: #333333;
    background-color: #F1F1F1;
}

p {
    width: 80%;
    text-indent: 1cm;
}

h1 {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 50px;
   font-weight: bold;
   color: #000033;
   position: relative;
   left: 20px;
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}


.term {
    font-style: italic;
    font-weight: bold;
}

table.comparison {
    border-width: 2px;
    border-style: inset;
    border-color: #CCCCEF;
    width: 90%;
    border-collapse: collapse;
}

table.comparison td {
    padding: 5px;
    border-width: 0px;
    border-color: #4400CC;
    border-style: solid;
}

table.comparison tr.acryl {
    font-style: italic;
}


/**************** Pseudo classes ****************/

 
a:link {
   color: #0033DD;
   text-decoration: underline;
   font-weight: bold;
   display: inline;
}
 
a:visited {
   text-decoration: underline;
   font-weight: bold;
   color: #0088FF;
}

 
a:hover {
   color: #3333FF;
   font-weight: bold;
   text-decoration: underline;
}
 
a:active {
   color: #33BBFF;
   font-weight: bold;
}
 
/************************* ID's *************************/


#centerDoc {
   position: absolute;
   top: 90px;
   padding: 10px 0 0 0; /*top right bottom left*/
   margin-left: 300px;
   padding-bottom:2cm;
   width: 60%;
}

#reference {
    position: absolute;
    width: 80%;
    bottom: -15px;
    margin-top: 2cm;
    padding-top: 15px;
    font-style: italic;
    border-top: 1px solid black;
}

#reference ul li {
    list-style: none;
}

.galleryItem {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 5px outset black;
    padding: 10px;
    float: left;
    overflow: hidden;
}

.galleryItemInner {
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

img.galleryImage {
    position: relative;
    width: 100px;
    left: 0;
    top: 0;
}

div#greyBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #747474;
    opacity: .35;
    visibility: hidden;
}

div#largeView {
    position: absolute;
    left: 20%;
    top: 10%;
    height: 80%;
    width: 60%;
    background-color: white;
    visibility: hidden;
}

div#innerView {
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    position: absolute;
    overflow: hidden;
    z-index: 5;
}

img#imgView {
    position: absolute;
    width: 100%;
}

div.galleryNavPrev {
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 45%;
}

div.galleryNavNext {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 45%;
}

div#dvStatus {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;

}

div#dvHide {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}
